*{
    margin: 0;
    padding: 0;
}
:root{
    --praimary-color:#021526;
    --secondary-color:#03346E;
    --tertiary-color:#6EACDA;
    --quaternary-color:#E2E2B6;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--praimary-color);
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background-color: var(--secondary-color);
    padding: 1rem ;
    padding-left: 549px;
    overflow: hidden;
}
.nav a{
    text-decoration: none;
    color: var(--quaternary-color);
    font-size: 1.5rem;
}
.nav a:hover , .nav a:active{
    color: var(--tertiary-color);
}